html,
body {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
}

main {
  position: relative;
}

section:nth-of-type(1) {
  /******************
  Start
  ******************/
  /*Cheque Output and Image*/
}
section:nth-of-type(1) .right {
  grid-area: side2;
  display: flex;
  flex-direction: column;
}
section:nth-of-type(1) .right h1,
section:nth-of-type(1) .right h2 {
  padding: 1vw 2vw;
  box-sizing: border-box;
  font-family: "Protest Strike", sans-serif;
  color: rgb(239, 248, 226);
  font-weight: 300;
}
section:nth-of-type(1) .right h1 {
  font-size: 2vw;
  margin-bottom: 0vw;
  margin-top: 0;
}
section:nth-of-type(1) .right h2 {
  font-size: 1.5vw;
  margin-top: 0;
  border-bottom: 3px solid rgb(239, 248, 226);
}
section:nth-of-type(1) .right form {
  display: flex;
  flex-direction: column;
}
section:nth-of-type(1) .right form .error,
section:nth-of-type(1) .right form .msg {
  font-family: "Oswald", sans-serif;
  padding: 0 1vw;
  box-sizing: border-box;
}
section:nth-of-type(1) .right form .error {
  color: #eb3489;
  text-transform: uppercase;
  width: 100%;
}
section:nth-of-type(1) .right form .msg {
  color: #3acfad;
}
section:nth-of-type(1) .right form #chosen_image_id {
  display: none;
}
section:nth-of-type(1) .right form .data_input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5vw 1vw;
  box-sizing: border-box;
}
section:nth-of-type(1) .right form .data_input .row {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100%;
}
section:nth-of-type(1) .right form .data_input label,
section:nth-of-type(1) .right form .data_input input,
section:nth-of-type(1) .right form .data_input select {
  font-family: "Oswald", sans-serif;
  font-size: 1.2vw;
}
section:nth-of-type(1) .right form .data_input label {
  margin-top: 0.5vw;
  margin-bottom: 0.3vw;
  width: -moz-fit-content;
  width: fit-content;
  color: rgb(239, 248, 226);
}
section:nth-of-type(1) .right form .data_input select,
section:nth-of-type(1) .right form .data_input input {
  width: 100%;
  padding: 0.5vw 1vw;
  box-sizing: border-box;
}
section:nth-of-type(1) .right form input[type=submit] {
  background-color: #00b1e4;
  padding: 0.5vw 1vw;
  box-sizing: border-box;
  margin-left: 1vw;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 1vw;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  font-size: 1.2vw;
  color: #003a4b;
  text-transform: uppercase;
}
section:nth-of-type(1) .right form input[type=submit]:hover {
  background-color: rgb(42, 172, 142);
  color: white;
}
section:nth-of-type(1) .panel {
  grid-area: cheque;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(239, 248, 226);
  grid-area: cheque;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}
section:nth-of-type(1) .panel #top_controls,
section:nth-of-type(1) .panel #data_output,
section:nth-of-type(1) .panel #bottom_controls {
  margin: 1vw 0 1vw 3vw;
}
section:nth-of-type(1) .panel #top_controls {
  display: grid;
  grid-template-columns: auto 0.8fr auto;
  align-items: center;
  width: 90%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.5vw;
  box-sizing: border-box;
}
section:nth-of-type(1) .panel #top_controls h1 {
  font-family: "Protest Strike", sans-serif;
  font-weight: 300;
  font-size: 2.5vw;
  color: rgb(0, 78, 100);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  margin-top: 0;
}
section:nth-of-type(1) .panel #top_controls select {
  padding: 0.5vw;
  box-sizing: border-box;
  font-size: 1.5vw;
  font-family: "Oswald", sans-serif;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgb(0, 78, 100);
  color: rgb(239, 248, 226);
  border: 0;
  outline: unset;
  cursor: pointer;
}
section:nth-of-type(1) .panel #data_output {
  width: 16.5cm;
  height: 7cm;
  margin-top: 0;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  align-content: flex-start;
}
section:nth-of-type(1) .panel #data_output .warapper_data_cell {
  width: 16.5cm;
  height: 7cm;
  z-index: 8;
  position: relative;
}
section:nth-of-type(1) .panel #data_output .data_cell {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  margin: 0;
  position: absolute;
  font-family: sans-serif;
  overflow: hidden;
  z-index: 20;
}
section:nth-of-type(1) .panel #data_output .data_cell:nth-of-type(1) {
  transform: translate(32vw, 5.5vh);
}
section:nth-of-type(1) .panel #data_output .data_cell:nth-of-type(2) {
  transform: translate(8vw, 10.5vh);
}
section:nth-of-type(1) .panel #data_output .data_cell:nth-of-type(3) {
  transform: translate(32vw, 16vh);
}
section:nth-of-type(1) .panel #data_output .data_cell:nth-of-type(4) {
  transform: translate(6vw, 16vh);
  max-width: 8cm;
}
section:nth-of-type(1) .panel #data_output img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: fill;
     object-fit: fill;
  z-index: 7;
}
section:nth-of-type(1) .panel #bottom_controls {
  padding: 0.5vw;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 0;
}
section:nth-of-type(1) .panel #bottom_controls button {
  padding: 0.5vw 2vw;
  border: 0;
  outline: unset;
  font-family: "Oswald", sans-serif;
  font-size: 1.5vw;
  box-shadow: 0 0 2px rgb(34, 9, 1);
}
section:nth-of-type(1) .panel #bottom_controls #reset_data {
  background-color: rgb(191, 19, 99);
  color: rgb(239, 248, 226);
}
section:nth-of-type(1) .panel #bottom_controls #print_cheque {
  background-color: rgb(42, 172, 142);
  color: rgb(239, 248, 226);
}/*# sourceMappingURL=fill_cheque.css.map */