html,
body {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

main {
  position: fixed;
  top: 0;
  left: 0;
}

section {
  display: flex;
  flex-direction: row;
}
section .left,
section .right {
  height: 100vh;
}
section .left {
  width: 30vw;
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
}
section .left h1,
section .left h2 {
  color: rgb(0, 78, 100);
  font-family: "Protest Strike", sans-serif;
  font-weight: 500;
  padding: 1vw;
  box-sizing: border-box;
  width: 90%;
  margin: 0;
}
section .left h1 {
  font-size: 1.3vw;
  margin-bottom: 0;
}
section .left h2 {
  margin-top: 0;
  margin-bottom: 5vh;
  font-size: 2vw;
}
section .left svg {
  width: 90%;
}
section .right {
  background-color: rgb(0, 78, 100);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
section .right .panel {
  background-color: #003a4b;
  width: 80%;
  min-height: 30vh;
  padding: 1vw;
  box-sizing: border-box;
}
section .right .panel #forget_form {
  padding: 1.5vw;
  box-sizing: border-box;
}
section .right .panel #forget_form .error {
  color: #eb3489;
  font-family: "Oswald", sans-serif;
  font-size: 1.2vw;
  margin: 1vw;
}
section .right .panel #forget_form #msg {
  color: rgb(42, 172, 142);
  font-family: "Oswald", sans-serif;
  font-size: 1.2vw;
  margin: 1vw;
}
section .right .panel #forget_form .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
section .right .panel #forget_form .row label {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  color: white;
}
section .right .panel #forget_form .row label span {
  padding: 0.5vw 1vw;
  box-sizing: border-box;
}
section .right .panel #forget_form .row label span:nth-of-type(1) {
  font-size: 2.1vw;
}
section .right .panel #forget_form .row label span:nth-of-type(2) {
  font-family: "Oswald", sans-serif;
  font-size: 1.45vw;
}
section .right .panel #forget_form .row input {
  border: 0;
  outline: unset;
}
section .right .panel #forget_form .row input[type=text], section .right .panel #forget_form .row input[type=password] {
  padding: 0.5vw 1vw;
  box-sizing: border-box;
  background-color: rgb(0, 78, 100);
  margin-left: 1vw;
  margin-bottom: 1.5vw;
  width: 100%;
  font-size: 1.5vw;
  color: white;
}
section .right .panel #forget_form .row #show_hide_pass {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2.5vw;
  color: white;
  font-weight: 300;
  cursor: pointer;
}
section .right .panel #forget_form .row:last-of-type {
  justify-content: space-between;
}
section .right .panel #forget_form .row .reset_wrapper {
  margin-left: 1vw;
  background-color: white;
  width: -moz-fit-content;
  width: fit-content;
  display: grid;
  grid-template-columns: auto 1fr;
  align-content: center;
  align-items: center;
}
section .right .panel #forget_form .row .reset_wrapper:hover {
  background-color: rgb(42, 172, 142);
}
section .right .panel #forget_form .row .reset_wrapper:hover button {
  color: white;
}
section .right .panel #forget_form .row .reset_wrapper button {
  cursor: pointer;
  font-size: 1.5vw;
  padding: 0.3vw 1vw;
  color: rgb(0, 78, 100);
  box-sizing: border-box;
  background-color: transparent;
}
section .right .panel #forget_form .row .reset_wrapper button span:nth-of-type(1) {
  font-family: "Oswald", sans-serif;
}
section .right .panel #forget_form .row .reset_wrapper button {
  border: 0;
  outline: unset;
}/*# sourceMappingURL=forgot_password.css.map */